body{
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
    color: aliceblue;
}

.tw-follow-card{
    display: flex;
    gap: 45px;
    font-size: .8rem;
    align-items: center;
    justify-content: space-between;   
}

.tw-follow-card-header{
    display: flex;
    gap: 4px;
    align-items: center;
    
}

.App{
    display: flex;
    flex-direction: column;
    gap: 9px;
}



.tw-follow-card-img{
    width: 48px;
    height: 48px;
    border-radius: 1080px;
}

.tw-follow-card-texto{
    display: grid;

    
}

.tw-follow-card-strong{
    color: aliceblue;
    
}

.tw-follow-card-span{
    color: aliceblue;
    font-style: italic;
    opacity: .5;
}

.tw-followCard-button{
    cursor: pointer;
    padding: 6px 16px;   
    border: 0;
    font-family: system-ui;
    font-weight: bolder;
    border-radius: 999px;
    transition: .2s ease-in-out background-color;
}

.tw-followCard-button:hover{
    background-color: rgb(89, 215, 253);
    

}



.tw-followCard-button.is-following:hover{
    background-color: rgb(216, 32, 19);
    
}
